In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [24]:
# Directory where the CSV files are located
directory = 'C:\\Users\\Otto\\OneDrive\\ATP-number\\data' 

# Start year and end year (inclusive)
start_year = 1968
end_year = 2023

# Empty DataFrame to concatenate all the files
all_atp_data_raw = pd.DataFrame()

# Loop through the files
for year in range(start_year, end_year + 1):
    file_name = f"atp_matches_{year}.csv"
    file_path = os.path.join(directory, file_name)
    
    # Check if the file exists
    if os.path.isfile(file_path):
        # Read the data from the file
        atp_data_raw = pd.read_csv(file_path)
        # Concatenate it into the all_data DataFrame
        all_atp_data_raw = pd.concat([all_atp_data_raw, atp_data_raw], ignore_index=True)
    else:
        print(f"File {file_name} does not exist.")

# all_data now contains the data from all the files

print(all_atp_data_raw.head(2))

  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
0  1968-2029       Dublin   Grass         32             A      19680708
1  1968-2029       Dublin   Grass         32             A      19680708

   match_num  winner_id winner_seed winner_entry  ... l_1stIn l_1stWon  \
0        270     112411         NaN          NaN  ...     NaN      NaN
1        271     126914         NaN          NaN  ...     NaN      NaN

   l_2ndWon l_SvGms  l_bpSaved  l_bpFaced winner_rank winner_rank_points  \
0       NaN     NaN        NaN        NaN         NaN                NaN
1       NaN     NaN        NaN        NaN         NaN                NaN

  loser_rank loser_rank_points
0        NaN               NaN
1        NaN               NaN

[2 rows x 49 columns]

In [25]:
all_atp_data_raw.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [26]:
all_atp_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189882 entries, 0 to 189881
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   tourney_id          189882 non-null  object
 1   tourney_name        189882 non-null  object
 2   surface             187566 non-null  object
 3   draw_size           189882 non-null  int64
 4   tourney_level       189882 non-null  object
 5   tourney_date        189882 non-null  int64
 6   match_num           189882 non-null  int64
 7   winner_id           189882 non-null  int64
 8   winner_seed         70415 non-null   object
 9   winner_entry        16529 non-null   object
 10  winner_name         189882 non-null  object
 11  winner_hand         189868 non-null  object
 12  winner_ht           173552 non-null  float64
 13  winner_ioc          189874 non-null  object
 14  winner_age          188674 non-null  float64
 15  loser_id            189882 non-null  int64
 16  loser_seed          35807 non-null   object
 17  loser_entry         28108 non-null   object
 18  loser_name          189882 non-null  object
 19  loser_hand          189829 non-null  object
 20  loser_ht            161006 non-null  float64
 21  loser_ioc           189816 non-null  object
 22  loser_age           185481 non-null  float64
 23  score               189876 non-null  object
 24  best_of             189882 non-null  int64
 25  round               189882 non-null  object
 26  minutes             90972 non-null   float64
 27  w_ace               93802 non-null   float64
 28  w_df                93801 non-null   float64
 29  w_svpt              93801 non-null   float64
 30  w_1stIn             93801 non-null   float64
 31  w_1stWon            93801 non-null   float64
 32  w_2ndWon            93801 non-null   float64
 33  w_SvGms             93802 non-null   float64
 34  w_bpSaved           93801 non-null   float64
 35  w_bpFaced           93801 non-null   float64
 36  l_ace               93801 non-null   float64
 37  l_df                93802 non-null   float64
 38  l_svpt              93801 non-null   float64
 39  l_1stIn             93801 non-null   float64
 40  l_1stWon            93801 non-null   float64
 41  l_2ndWon            93801 non-null   float64
 42  l_SvGms             93802 non-null   float64
 43  l_bpSaved           93801 non-null   float64
 44  l_bpFaced           93801 non-null   float64
 45  winner_rank         154878 non-null  float64
 46  winner_rank_points  107655 non-null  float64
 47  loser_rank          146507 non-null  float64
 48  loser_rank_points   106027 non-null  float64
dtypes: float64(27), int64(6), object(16)
memory usage: 71.0+ MB

In [27]:
## Get the columns tourney_id, tourney_date, winner_id, winner_name, winner_rank, loser_id, loser_name, loser_rank, score
rankings_columns = ['tourney_id', 'tourney_name', 'tourney_date', 'winner_id', 'winner_name', 'winner_rank', 'loser_id', 'loser_name', 'loser_rank', 'score']

all_atp_data = all_atp_data_raw[rankings_columns]

all_atp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189882 entries, 0 to 189881
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tourney_id    189882 non-null  object
 1   tourney_name  189882 non-null  object
 2   tourney_date  189882 non-null  int64
 3   winner_id     189882 non-null  int64
 4   winner_name   189882 non-null  object
 5   winner_rank   154878 non-null  float64
 6   loser_id      189882 non-null  int64
 7   loser_name    189882 non-null  object
 8   loser_rank    146507 non-null  float64
 9   score         189876 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 14.5+ MB